<div ng-hide="fridgeItems.length === 0" ng-repeat="fridgeItem in fridgeItems | orderBy: ['expiryDate', 'name']">
  <material-card class="material-card-mini">
    <div layout="horizontal" main-axis="space-between">

      <div class="fridge-item-name">{{ fridgeItem.name | truncate:15 }}</div>

      <div ng-if="(fridgeItem.expiryDate | getDaysGood) > 0" layout="vertical" main-axis="space-between" style="width: 100px;">
        <div class="fridge-item-expiration-number">{{ fridgeItem.expiryDate | getDaysGood | getExpirationNumber }}</div>
        <div class="fridge-item-expiration-unit">{{ fridgeItem.expiryDate | getDaysGood | getExpirationUnit }}</div>
      </div>
      <div ng-if="!((fridgeItem.expiryDate | getDaysGood) > 0)" class="fridge-item-name fridge-item-expired">expired</div>

    </div>
  </material-card>
</div>

<material-card ng-show="fridgeItems.length === 0" class="fridge-empty material-card-mini">
  {{ message }}
</material-card>
