<material-card>
  <img src="/static/img/cover.png" class="material-card-image">
  <div layout="horizontal" main-axis="space-between">
      <h1><span frij-logo /></h1>
      <a href="https://play.google.com/store/apps/details?id=com.returnjump.frij" target="_blank" style="margin-top: 8px;">
        <img alt="Get it on Google Play" src="/static/img/googleplay.png" />
      </a>
  </div>
  <p>
    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
  </p>
</material-card>

<div layout="vertical" layout-sm="horizontal" layout-padding>

  <div flex>
    <material-card>
      <img src="/static/img/screenshot1.png" class="material-card-image">
      <span class="circle">1</span>
      <span style="display: table-cell; vertical-align: middle; padding-left: 12px; font-size: 24px; font-weight: bold;">Take a picture</span>
      <p>
        Give <span frij-logo /> a snapshot of your receipt after you're done grocery shopping, and your items will be matched with an average shelf life. Other apps ask you to log each item individually, who has time for that?
        <br>
        <br>
        <br>
      </p>
    </material-card>
  </div>

  <div flex>
    <material-card>
      <img src="/static/img/screenshot2.png" class="material-card-image">
      <span class="circle">2</span>
      <span style="display: table-cell; vertical-align: middle; padding-left: 12px; font-size: 24px; font-weight: bold;">Check out your <span frij-logo /></span>
      <p>
        Add, edit or toss your items. Give your device a shake, and your expired items are gone. <span frij-logo />'s simple user interface makes managing your food a piece of cake!
        <br>
        <br>
        (And managing pieces of cake... a piece of cake)
        <br>
        <br>
      </p>
    </material-card>
  </div>

  <div flex>
    <material-card>
      <img src="/static/img/screenshot3.png" class="material-card-image">
      <span class="circle">3</span>
      <span style="display: table-cell; vertical-align: middle; padding-left: 12px; font-size: 24px; font-weight: bold;">Get notified</span>
      <p>
        40% of all food in America is <b>wasted</b>.
        <br>
        <br>
        <span frij-logo /> makes getting the most out of your groceries effortless. Save money, buy healthy food with the confidence you'll remember to eat them! Get informed about when it's time to toss expired items, and never touch rotten food again.
      </p>
    </material-card>
  </div>

</div>
