html {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background: #2c3e50;
}
.header {
    position: relative;
    top: 0;
    height: 60px;
}
#logo {
    position: absolute;
    left: 0;
    height: auto;
    width: auto;
    max-width: 60;
    max-height: 60;
    border: 1px solid #;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.login {
    float: right;
}
input {
    top: 20px;
    width: 175px;
    height: 20px;
    padding: 10px;
    margin: 0 0 20px 0;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 1px 0px #f2f2f2;
    -webkit-box-shadow: 0px 1px 0px #f2f2f2;
    color: #808080;
    text-shadow: black;
}
.button {
    background-color: #ECF0F1;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    text-decoration: none;
    zoom: 1;
    *display: inline;
    border: 1px solid #ECF0F1;
    height: 32px;
    line-height: 32px;
    padding: 0 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    text-shadow: 0 1px 0 #fff;
    margin: 0;
    text-align: center;
}
.button:hover {
    background-color: #f4f5f5;
}
.button:active {
    background-color: #eeeeee;
    color: #bbbbbb;
}
.button:focus {
    outline: none;
}
input.button, button.button {
    height: 34px;
    cursor: pointer;
}
.button-rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}