<!doctype html>
<html ng-app="app">
<head>
<title>frij</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/vendor/css/material-design.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.js"></script>
<script src="/static/vendor/js/angular-animate-sequence.js"></script>
<script src="/static/vendor/js/angular-animate-stylers.js"></script>
<script src="/static/vendor/js/material-design.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/controller.js"></script>
</head>
<body>
  <ng-include src="'/static/template/header.tmpl.html'"></ng-include>
  <ng-view></ng-view>
  <ng-include src="'/static/template/footer.tmpl.html'"></ng-include>
  </body>
</html>
