<html ng-app>

<head>
    <link href="/static/css/user_style.css" rel="stylesheet">
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <img src="/static/img/logo2.png" id="logo">
        </a>
        <span class='login'>
            <form>
                <input name='email' placeholder='email' type='text' />
                <input id='pw' name='password' placeholder='Password' type='password' />
                <a href="#" class="button button-rounded ">Login</a>
                <a class='forgot' href='#'>Forgot your password?</a>

            </form>
        </span>
    </div>
</body>

</html>