<html ng-app>

<head>
    <link href="/Users/arturomenacruz/Documents/google documents/google jump/returnJump/GoogleAppEngine/static/css/user_style.css" rel="stylesheet">
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
	
    <div class="header">
        <form>
            <div class='login'>
                <input name='email' placeholder='email' type='text' />
                <input id='pw' name='password' placeholder='Password' type='password' />
                <a href="#" class="button button-rounded ">Login</a>

                <a class='forgot' href='#'>Forgot your password?</a>

        </form>
        </div>
    </div>
</body>

</html>